@charset "utf-8";

@function rem($px) {
    @return $px * 100rem / 1920px;
}

* {
  color: #e7e9f6;
  font-family:'Roboto', 'Noto Sans KR', sans-serif;
  word-break:keep-all;
}

html, body {
  width:100%;
  height:100%;
  background: #30334C;
}

html {
  font-size:19.2px;
  &[mobile=on] {
    font-size:1.4vw;
  }
  @media only screen and (max-width:1400px) {
    font-size:1.2vw;
  }
}

h1, h2, h3, h4, h5, h6 {
  color:white;
}

.page-container {
  width:100%;
  height:100%;
  padding: rem(48px) rem(80px);
  display:flex;
  flex-direction: column;
  position:relative;
}

.split-side {
  display:flex;
  align-items: center;
}

.page-header, .page-footer {
  width:100%;
  display:flex;
  justify-content:space-between;
  .logo {
    height:rem(16px);
    font-size:0;
    img {
      width:100%;
      height:100%;
      object-fit: contain;
      opacity:0.2;
    }
  }
}

.page-header {
  margin-bottom:rem(40px);
  .header-left {
    h2 {
      font-size:rem(32px);
      color:white;
      font-weight:500;
    }
  }
  .view-example-btn {
    width:rem(48px);
    height:rem(48px);
    font-size:0;
    transition: color 0.3s;
    span i {
      font-size:rem(24px);
      color:white;
      opacity:0.4;
      transition:color 0.3s, opacity 0.3s;
    }
    &:hover {
      span i {
        opacity:1;
      }
    }
    &.on {
      span i {
        opacity: 1;
        color: #00ff96;
      }
      &:hover {
        span i {
          opacity: 0.4;
          color:white;
        }
      }
    }
  }
}

.page-footer {
  margin-top:rem(40px);
  width:100%;
  .page-status {
    font-size:rem(16px);
    color:#6f7290;
    font-weight:500;
  }
}

.page-contents {
  width:100%;
  flex:1;
  position:relative;
}

.slide-btn {
  position:fixed;
  top:50%;
  width:rem(80px);
  height:rem(80px);
  padding:rem(10px);
  transform:translateY(-50%);
  font-size:0;
  span {
    width:100%;
    height:100%;
    border-radius: 50%;
    background:transparent;
    transition: background-color 0.3s;
    display:flex;
    align-items:center;
    justify-content:center;
    i {
      font-size:rem(32px);
      color:white;
      opacity:0.4;
      transition:opacity 0.3s;
    }
  }
  &:hover {
    span {
      background: rgba(255,255,255,0.05);
      i {
        opacity: 1;
      }
    }
  }
  &[slide-btn-type=prev] {
    left:0;
  }
  &[slide-btn-type=next] {
    right:0;
    span i {
      transform:translateX(#{rem(2px)});
    }
  }
  &.off {
    display:none;
  }
}

.mc {
  display:flex;
  width:100%;
  height:100%;
  position:absolute;
  z-index:-1000;
  opacity:0;
  .slide-wrap {
    width:100%;
    .slide-intro {
      width:100%;
      height:100%;
      display:flex;
      align-items:center;
      flex-direction: column;
      justify-content:center;
      h1 {
        margin-bottom:rem(16px);
        font-size:rem(56px);
        color:white;
        line-height:rem(56px);
        font-weight:700;
      }
      p {
        padding:0 rem(2px);
        font-size:rem(24px);
        line-height:rem(32px);
        // font-weight:500;
      }
    }
    .slide-title {
      width:100%;
      margin-bottom:rem(16px);
      displaY:flex;
      align-items:center;
      h3 {
        font-size:rem(24px);
        color:white;
        font-weight:500;
        font-family:'Noto Sans KR';
      }
    }
    .slide-contents {
      width:100%;
      height:100%;
      display:flex;
      .desc-list {
        height:100%;
        &>li {
          width:100%;
          margin:rem(16px) 0;
          color:#cfd2ec;
        }
        .inner-list {
          width:100%;
          padding:0 rem(16px);
          margin-bottom:rem(16px);
          transform:translateY(rem(-8px));
          &>li {
            padding:rem(8px) 0 rem(8px) rem(16px);
            font-size:rem(20px);
            color:#b2b5cb;
            line-height:rem(28px);
            letter-spacing: 0;
            &:before {
              text-indent:rem(-16px);
              display:inline-block;
              content: '\2022';
            }
          }
          &.order-list {
            padding:0 rem(16px) 0 rem(32px);
            &>li {
              display:list-item;
              list-style: decimal;
              padding:rem(8px) 0;
              &:before { display:none; }
              &::marker { color:#646889; font-weight:500; }
            }
          }
        }
        &.index-list {
          width:35%;
          // width:rem(400px);
          margin-right:rem(48px);
          &>li {
            font-size:rem(24px);
            line-height:rem(32px);
            color:#656885;
            font-weight:500;
            transition:all 0.3s;
            cursor:pointer;
            &:hover {
              color:white;
            }
          }
        }
        &.description-list {
          display:none;
          width:100%;
          height:100%;
          &>li {
            padding-left:rem(16px);
            font-size:rem(24px);
            line-height:rem(32px);
            font-weight:400;
            &:before {
              text-indent:rem(-16px);
              display:inline-block;
              content: '-';
            }
          }
        }
      }
      .desc-contents {
        flex:1;
        height:100%;
      }
      @for $descIdx from 0 to 10 {
        &[desc-index="#{$descIdx}"] {
          .desc-list {
            &.index-list {
              &>li[desc-index="#{$descIdx}"] {
                color:#00ff96;
                letter-spacing: 0;
                cursor:not-allowed;
                &:hover {
                  color:#00ff96;
                }
              }
            }
            &.description-list[desc-index="#{$descIdx}"] {
              display:block;
            }
          }
        }
      }
    }
  }
  .slide-example {
    display:none;
    width:100%;
    height:100%;
    background: #30334C;
    position:absolute;
    top:0;
    left:0;
    z-index:1000;
    flex-direction: column;
    .option-panel {
      width:100%;
      margin-bottom:rem(16px);
      padding:rem(16px) rem(24px);
      border-radius:rem(8px);
      background: #656885;
      display:flex;
      flex-wrap:wrap;
      .option-items {
        width:100%;
        padding:rem(4px) 0;
        display:flex;
        align-items:center;
        &.inline-items {
          width:auto;
          display:inline-flex;
        }
        &.ml {
          margin-left:rem(24px);
        }
        .option-name {
          margin-right:rem(16px);
          font-size:rem(16px);
          color:#fff;
          font-weight:500;
          letter-spacing: 0;
        }
        .option-select-list {
          display:flex;
          align-items:center;
          .option-label {
            margin-right:rem(16px);
            display:flex;
            align-items: center;
            .option-check {
              width:rem(16px);
              height:rem(16px);
              border-radius:50%;
              border:1px solid white;
              appearance: auto;
            }
            .option-input {
              width:rem(80px);
              height:rem(24px);
              border-radius:rem(4px);
              padding:0 rem(16px);
              font-size:rem(16px);
              background:#474965;
            }
            span {
              margin-left:rem(8px);
              font-size:rem(16px);
              font-weight:400;
              color:#babfdf;
              letter-spacing: 0;
            }
            .option-check:checked + span {
              color:#00ff96;
              font-weight:500;
            }
          }
        }
      }
    }
    .example-view {
      width:100%;
      flex:1;
      padding:rem(8px);
      border-radius:rem(8px);
      background: #202233;
      display:flex;
      align-items: center;
      justify-content:center;
      .example-container {
        width:100%;
        height:100%;
        &[data-option=boxSizing] {
          width:auto;
          height:auto;
          padding:rem(50px);
          background: #ffb86b;
          display:block;
        }
        &[data-option=flex] {
          display:flex;
        }
      }
      .example-box {
        font-size:rem(24px);
        color:#00ff96;
        font-family: 'Roboto';
        font-weight:500;
        display:flex;
        align-items:center;
        justify-content: center;
        text-align:center;
        background: #303247;
        &:not(.box-sizing-box) {
          border-radius:rem(8px);
          border:1px solid #484b64;
          margin:rem(8px);
        }
        &.box-sizing-box {
          width:rem(300px);
          height:rem(150px);
          padding:rem(50px);
          border:rem(5px) solid red;
          background: #d7f1a3;
          span {
            width:100%;
            height:100%;
            color:#202233;
            background: #88c0e9;
            display:flex;
            align-items:center;
            justify-content:center;
          }
          position:relative;
          &:before, &:after {
            font-size:rem(16px);
            color:white;
            font-weight:400;
            letter-spacing: 0;
            white-space:nowrap;
            text-shadow: 0 0 rem(4px) #202233;
            position:absolute;
            display:flex;
            justify-content:center;
            align-items:center;
          }
          &:before {
            content:'Box Width';
            width:rem(300px);
            height:rem(2px);
            background: #656885;
            top:calc(100% + #{rem(80px)});
            left:50%;
            transform:translateX(-50%);
          }
          &:after {
            content:'Box Height';
            width:rem(2px);
            height:rem(150px);
            background: #656885;
            left:calc(100% + #{rem(80px)});
            top:50%;
            transform:translateY(-50%);
          }
        }
        &.flex-box {
          padding:rem(40px);
        }
      }
    }
    .example-desc {
      width:100%;
      border-radius:rem(8px);
      margin-top:rem(16px);
      padding:rem(12px) rem(24px);
      background: #202233;
      ul {
        width:100%;
        padding:rem(4px) 0;
        display:flex;
        justify-content:center;
        align-items:center;
        li {
          margin:0 rem(8px);
          font-size:rem(16px);
          color:#6f7290;
          font-weight:500;
          display:flex;
          align-items:center;
          span {
            margin-left:rem(8px);
          }
        }
        &.color-desc {
          li {
            &:before {
              content:'';
              display:block;
              margin-right:rem(8px);
              width:rem(24px);
              height:rem(16px);
            }
            &.margin:before {
              background: #ffb86b;
            }
            &.padding:before {
              background: #d7f1a3;
            }
            &.border:before {
              background: #ff5b5b;
            }
            &.contents-area:before {
              background: #88c0e9;
            }
          }
        }
      }
    }
  }
  &.on {
    .slide-example {
      display:flex;
    }
  }
}

.page-container[page-no="0"] {
  .page-header {
    opacity:0;
  }
}
@for $pageNo from 0 to 30 {
  .page-container[page-no="#{$pageNo}"] {
    .mc[page-no="#{$pageNo}"] {
      opacity: 1;
      z-index:10;
    }
  }
}
