* {
  color: #e7e9f6;
  font-family: 'Roboto', 'Noto Sans KR', sans-serif;
  word-break: keep-all;
}

html, body {
  width: 100%;
  height: 100%;
  background: #30334C;
}

html {
  font-size: 19.2px;
}

html[mobile=on] {
  font-size: 1.4vw;
}

@media only screen and (max-width: 1400px) {
  html {
    font-size: 1.2vw;
  }
}

h1, h2, h3, h4, h5, h6 {
  color: white;
}

a {
  color: #8693ff;
  text-decoration: underline;
}

.page-container {
  width: 100%;
  height: 100%;
  padding: 2.5rem 4.16667rem;
  display: flex;
  flex-direction: column;
  position: relative;
}

.split-side {
  display: flex;
  align-items: center;
}

.page-header, .page-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.page-header .logo, .page-footer .logo {
  height: 0.83333rem;
  font-size: 0;
}

.page-header .logo img, .page-footer .logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  opacity: 0.2;
}

.page-header {
  margin-bottom: 2.08333rem;
}

.page-header .header-left h2 {
  font-size: 1.66667rem;
  color: white;
  font-weight: 500;
}

.page-header .view-example-btn {
  width: 2.5rem;
  height: 2.5rem;
  font-size: 0;
  transition: color 0.3s;
}

.page-header .view-example-btn span i {
  font-size: 1.25rem;
  color: white;
  opacity: 0.4;
  transition: color 0.3s, opacity 0.3s;
}

.page-header .view-example-btn:active span i {
  opacity: 1;
}

.page-header .view-example-btn.on span i {
  opacity: 1;
  color: #00ff96;
}

.page-header .view-example-btn.on:active span i {
  opacity: 0.4;
  color: white;
}

.page-footer {
  margin-top: 2.08333rem;
  width: 100%;
}

.page-footer .page-status {
  font-size: 0.83333rem;
  color: #6f7290;
  font-weight: 500;
}

.page-contents {
  width: 100%;
  flex: 1;
  position: relative;
}

.slide-btn {
  position: fixed;
  top: 50%;
  width: 4.16667rem;
  height: 4.16667rem;
  padding: 0.52083rem;
  transform: translateY(-50%);
  font-size: 0;
}

.slide-btn span {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: transparent;
  transition: background-color 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide-btn span i {
  font-size: 1.66667rem;
  color: white;
  opacity: 0.4;
  transition: opacity 0.3s;
}

.slide-btn:active span {
  background: rgba(255, 255, 255, 0.05);
}

.slide-btn:active span i {
  opacity: 1;
}

.slide-btn[slide-btn-type=prev] {
  left: 0;
}

.slide-btn[slide-btn-type=next] {
  right: 0;
}

.slide-btn[slide-btn-type=next] span i {
  transform: translateX(0.10417rem);
}

.slide-btn.off {
  display: none;
}

.mc {
  display: flex;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1000;
  opacity: 0;
}

.mc .slide-wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.mc .slide-wrap .slide-intro {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.mc .slide-wrap .slide-intro h1 {
  margin-bottom: 0.83333rem;
  font-size: 2.91667rem;
  color: white;
  line-height: 2.91667rem;
  font-weight: 700;
}

.mc .slide-wrap .slide-intro p {
  padding: 0 0.10417rem;
  font-size: 1.25rem;
  line-height: 1.66667rem;
}

.mc .slide-wrap .slide-title {
  width: 100%;
  margin-bottom: 0.83333rem;
  displaY: flex;
  align-items: center;
}

.mc .slide-wrap .slide-title h3 {
  font-size: 1.25rem;
  line-height: 1.25rem;
  color: white;
  font-weight: 500;
  font-family: 'Noto Sans KR';
}

.mc .slide-wrap .slide-contents {
  width: 100%;
  height: calc(100% - 2.08333rem);
  display: flex;
}

.mc .slide-wrap .slide-contents .desc-list {
  height: 100%;
}

.mc .slide-wrap .slide-contents .desc-list > li {
  width: 100%;
  margin: 0.83333rem 0;
  color: #cfd2ec;
}

.mc .slide-wrap .slide-contents .desc-list > li.desc-img {
  max-height: 100%;
  margin: 0;
}

.mc .slide-wrap .slide-contents .desc-list > li.desc-img figure {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 0;
}

.mc .slide-wrap .slide-contents .desc-list > li.desc-img figure img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.mc .slide-wrap .slide-contents .desc-list .inner-list {
  width: 100%;
  padding: 0 0.83333rem;
  margin-bottom: 0.83333rem;
  transform: translateY(-0.41667rem);
}

.mc .slide-wrap .slide-contents .desc-list .inner-list > li {
  padding: 0.41667rem 0 0.41667rem 0.83333rem;
  font-size: 1.04167rem;
  color: #b2b5cb;
  line-height: 1.45833rem;
  letter-spacing: 0;
}

.mc .slide-wrap .slide-contents .desc-list .inner-list > li:before {
  text-indent: -0.83333rem;
  display: inline-block;
  content: '\2022';
}

.mc .slide-wrap .slide-contents .desc-list .inner-list > li span.example-hover:hover {
  color: #00ff96;
}

.mc .slide-wrap .slide-contents .desc-list .inner-list > li span.example-active:active {
  color: #00ff96;
}

.mc .slide-wrap .slide-contents .desc-list .inner-list > li span.example-focus:focus {
  color: #00ff96;
}

.mc .slide-wrap .slide-contents .desc-list .inner-list > li span.example-selection::selection {
  color: #d42323;
  font-weight: 700;
  background: #00ff96;
}

.mc .slide-wrap .slide-contents .desc-list .inner-list.order-list {
  padding: 0 0.83333rem 0 1.66667rem;
}

.mc .slide-wrap .slide-contents .desc-list .inner-list.order-list > li {
  display: list-item;
  list-style: decimal;
  padding: 0.41667rem 0;
}

.mc .slide-wrap .slide-contents .desc-list .inner-list.order-list > li:before {
  display: none;
}

.mc .slide-wrap .slide-contents .desc-list .inner-list.order-list > li::marker {
  color: #646889;
  font-weight: 500;
}

.mc .slide-wrap .slide-contents .desc-list.index-list {
  width: 35%;
  margin-right: 2.5rem;
}

.mc .slide-wrap .slide-contents .desc-list.index-list > li {
  font-size: 1.25rem;
  line-height: 1.66667rem;
  color: #656885;
  font-weight: 500;
  transition: all 0.3s;
  cursor: pointer;
}

.mc .slide-wrap .slide-contents .desc-list.index-list > li:active {
  color: white;
}

.mc .slide-wrap .slide-contents .desc-list.description-list {
  display: none;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.mc .slide-wrap .slide-contents .desc-list.description-list > li {
  padding-left: 0.83333rem;
  font-size: 1.25rem;
  line-height: 1.66667rem;
  font-weight: 400;
}

.mc .slide-wrap .slide-contents .desc-list.description-list > li:before {
  text-indent: -0.83333rem;
  display: inline-block;
  content: '-';
}

.mc .slide-wrap .slide-contents .desc-list.description-list > li.box-area:before, .mc .slide-wrap .slide-contents .desc-list.description-list > li.desc-img:before {
  content: none;
}

.mc .slide-wrap .slide-contents .desc-contents {
  flex: 1;
  height: 100%;
}

.mc .slide-wrap .slide-contents[desc-index="0"] .desc-list.index-list > li[desc-index="0"] {
  color: #00ff96;
  letter-spacing: 0;
  cursor: not-allowed;
}

.mc .slide-wrap .slide-contents[desc-index="0"] .desc-list.index-list > li[desc-index="0"]:active {
  color: #00ff96;
}

.mc .slide-wrap .slide-contents[desc-index="0"] .desc-list.description-list[desc-index="0"] {
  display: flex;
}

.mc .slide-wrap .slide-contents[desc-index="1"] .desc-list.index-list > li[desc-index="1"] {
  color: #00ff96;
  letter-spacing: 0;
  cursor: not-allowed;
}

.mc .slide-wrap .slide-contents[desc-index="1"] .desc-list.index-list > li[desc-index="1"]:active {
  color: #00ff96;
}

.mc .slide-wrap .slide-contents[desc-index="1"] .desc-list.description-list[desc-index="1"] {
  display: flex;
}

.mc .slide-wrap .slide-contents[desc-index="2"] .desc-list.index-list > li[desc-index="2"] {
  color: #00ff96;
  letter-spacing: 0;
  cursor: not-allowed;
}

.mc .slide-wrap .slide-contents[desc-index="2"] .desc-list.index-list > li[desc-index="2"]:active {
  color: #00ff96;
}

.mc .slide-wrap .slide-contents[desc-index="2"] .desc-list.description-list[desc-index="2"] {
  display: flex;
}

.mc .slide-wrap .slide-contents[desc-index="3"] .desc-list.index-list > li[desc-index="3"] {
  color: #00ff96;
  letter-spacing: 0;
  cursor: not-allowed;
}

.mc .slide-wrap .slide-contents[desc-index="3"] .desc-list.index-list > li[desc-index="3"]:active {
  color: #00ff96;
}

.mc .slide-wrap .slide-contents[desc-index="3"] .desc-list.description-list[desc-index="3"] {
  display: flex;
}

.mc .slide-wrap .slide-contents[desc-index="4"] .desc-list.index-list > li[desc-index="4"] {
  color: #00ff96;
  letter-spacing: 0;
  cursor: not-allowed;
}

.mc .slide-wrap .slide-contents[desc-index="4"] .desc-list.index-list > li[desc-index="4"]:active {
  color: #00ff96;
}

.mc .slide-wrap .slide-contents[desc-index="4"] .desc-list.description-list[desc-index="4"] {
  display: flex;
}

.mc .slide-wrap .slide-contents[desc-index="5"] .desc-list.index-list > li[desc-index="5"] {
  color: #00ff96;
  letter-spacing: 0;
  cursor: not-allowed;
}

.mc .slide-wrap .slide-contents[desc-index="5"] .desc-list.index-list > li[desc-index="5"]:active {
  color: #00ff96;
}

.mc .slide-wrap .slide-contents[desc-index="5"] .desc-list.description-list[desc-index="5"] {
  display: flex;
}

.mc .slide-wrap .slide-contents[desc-index="6"] .desc-list.index-list > li[desc-index="6"] {
  color: #00ff96;
  letter-spacing: 0;
  cursor: not-allowed;
}

.mc .slide-wrap .slide-contents[desc-index="6"] .desc-list.index-list > li[desc-index="6"]:active {
  color: #00ff96;
}

.mc .slide-wrap .slide-contents[desc-index="6"] .desc-list.description-list[desc-index="6"] {
  display: flex;
}

.mc .slide-wrap .slide-contents[desc-index="7"] .desc-list.index-list > li[desc-index="7"] {
  color: #00ff96;
  letter-spacing: 0;
  cursor: not-allowed;
}

.mc .slide-wrap .slide-contents[desc-index="7"] .desc-list.index-list > li[desc-index="7"]:active {
  color: #00ff96;
}

.mc .slide-wrap .slide-contents[desc-index="7"] .desc-list.description-list[desc-index="7"] {
  display: flex;
}

.mc .slide-wrap .slide-contents[desc-index="8"] .desc-list.index-list > li[desc-index="8"] {
  color: #00ff96;
  letter-spacing: 0;
  cursor: not-allowed;
}

.mc .slide-wrap .slide-contents[desc-index="8"] .desc-list.index-list > li[desc-index="8"]:active {
  color: #00ff96;
}

.mc .slide-wrap .slide-contents[desc-index="8"] .desc-list.description-list[desc-index="8"] {
  display: flex;
}

.mc .slide-wrap .slide-contents[desc-index="9"] .desc-list.index-list > li[desc-index="9"] {
  color: #00ff96;
  letter-spacing: 0;
  cursor: not-allowed;
}

.mc .slide-wrap .slide-contents[desc-index="9"] .desc-list.index-list > li[desc-index="9"]:active {
  color: #00ff96;
}

.mc .slide-wrap .slide-contents[desc-index="9"] .desc-list.description-list[desc-index="9"] {
  display: flex;
}

.mc .slide-example {
  display: none;
  width: 100%;
  height: 100%;
  background: #30334C;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  flex-direction: column;
}

.mc .slide-example .option-panel {
  width: 100%;
  margin-bottom: 0.83333rem;
  padding: 0.83333rem 1.25rem;
  border-radius: 0.41667rem;
  background: #656885;
  display: flex;
  flex-wrap: wrap;
}

.mc .slide-example .option-panel .option-items {
  width: 100%;
  padding: 0.20833rem 0;
  display: flex;
  align-items: center;
}

.mc .slide-example .option-panel .option-items.inline-items {
  width: auto;
  display: inline-flex;
}

.mc .slide-example .option-panel .option-items.ml {
  margin-left: 1.25rem;
}

.mc .slide-example .option-panel .option-items .option-name {
  margin-right: 0.83333rem;
  font-size: 0.83333rem;
  color: #fff;
  font-weight: 500;
  letter-spacing: 0;
}

.mc .slide-example .option-panel .option-items .option-select-list {
  display: flex;
  align-items: center;
}

.mc .slide-example .option-panel .option-items .option-select-list .option-label {
  margin-right: 0.83333rem;
  display: flex;
  align-items: center;
}

.mc .slide-example .option-panel .option-items .option-select-list .option-label .option-check {
  width: 0.83333rem;
  height: 0.83333rem;
  border-radius: 50%;
  border: 1px solid white;
  appearance: auto;
  -webkit-appearance: auto;
}

.mc .slide-example .option-panel .option-items .option-select-list .option-label .option-check:checked {
  background: #00ff96;
}

.mc .slide-example .option-panel .option-items .option-select-list .option-label .option-input {
  width: 4.16667rem;
  height: 1.25rem;
  border-radius: 0.20833rem;
  padding: 0 0.83333rem;
  font-size: 0.83333rem;
  background: #474965;
}

.mc .slide-example .option-panel .option-items .option-select-list .option-label span {
  margin-left: 0.41667rem;
  font-size: 0.83333rem;
  font-weight: 400;
  color: #babfdf;
  letter-spacing: 0;
}

.mc .slide-example .option-panel .option-items .option-select-list .option-label .option-check:checked + span {
  color: #00ff96;
  font-weight: 500;
}

.mc .slide-example .example-view {
  width: 100%;
  flex: 1;
  padding: 0.41667rem;
  border-radius: 0.41667rem;
  background: #202233;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mc .slide-example .example-view .example-container {
  width: 100%;
  height: 100%;
}

.mc .slide-example .example-view .example-container[data-option=boxSizing] {
  width: auto;
  height: auto;
  padding: 1.5625rem;
  background: #ffb86b;
  display: block;
}

.mc .slide-example .example-view .example-container[data-option=flex] {
  display: flex;
}

.mc .slide-example .example-view .example-box {
  font-size: 1.25rem;
  color: #00ff96;
  font-family: 'Roboto';
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: #303247;
}

.mc .slide-example .example-view .example-box:not(.box-sizing-box) {
  border-radius: 0.41667rem;
  border: 1px solid #484b64;
  margin: 0.41667rem;
}

.mc .slide-example .example-view .example-box.box-sizing-box {
  width: 15.625rem;
  height: 7.8125rem;
  padding: 1.5625rem;
  border: 0.26042rem solid red;
  background: #d7f1a3;
  position: relative;
}

.mc .slide-example .example-view .example-box.box-sizing-box span {
  width: 100%;
  height: 100%;
  color: #202233;
  background: #88c0e9;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mc .slide-example .example-view .example-box.box-sizing-box:before, .mc .slide-example .example-view .example-box.box-sizing-box:after {
  font-size: 0.83333rem;
  color: white;
  font-weight: 400;
  letter-spacing: 0;
  white-space: nowrap;
  text-shadow: 0 0 0.20833rem #202233;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mc .slide-example .example-view .example-box.box-sizing-box:before {
  content: 'Box Width';
  width: 15.625rem;
  height: 0.10417rem;
  background: #656885;
  top: calc(100% + 3.125rem);
  left: 50%;
  transform: translateX(-50%);
}

.mc .slide-example .example-view .example-box.box-sizing-box:after {
  content: 'Box Height';
  width: 0.10417rem;
  height: 7.8125rem;
  background: #656885;
  left: calc(100% + 3.125rem);
  top: 50%;
  transform: translateY(-50%);
}

.mc .slide-example .example-view .example-box.flex-box {
  font-size: 0.83333rem;
  padding: 0.52083rem;
}

.mc .slide-example .example-desc {
  width: 100%;
  border-radius: 0.41667rem;
  margin-top: 0.83333rem;
  padding: 0.625rem 1.25rem;
  background: #202233;
}

.mc .slide-example .example-desc ul {
  width: 100%;
  padding: 0.20833rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mc .slide-example .example-desc ul li {
  margin: 0 0.41667rem;
  font-size: 0.83333rem;
  color: #6f7290;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.mc .slide-example .example-desc ul li span {
  margin-left: 0.41667rem;
}

.mc .slide-example .example-desc ul.color-desc li:before {
  content: '';
  display: block;
  margin-right: 0.41667rem;
  width: 1.25rem;
  height: 0.83333rem;
}

.mc .slide-example .example-desc ul.color-desc li.margin:before {
  background: #ffb86b;
}

.mc .slide-example .example-desc ul.color-desc li.padding:before {
  background: #d7f1a3;
}

.mc .slide-example .example-desc ul.color-desc li.border:before {
  background: #ff5b5b;
}

.mc .slide-example .example-desc ul.color-desc li.contents-area:before {
  background: #88c0e9;
}

.mc.on .slide-example {
  display: flex;
}

.page-container[page-no="0"] .page-header {
  opacity: 0;
}

.page-container[page-no="0"] .mc[page-no="0"] {
  opacity: 1;
  z-index: 10;
}

.page-container[page-no="1"] .mc[page-no="1"] {
  opacity: 1;
  z-index: 10;
}

.page-container[page-no="2"] .mc[page-no="2"] {
  opacity: 1;
  z-index: 10;
}

.page-container[page-no="3"] .mc[page-no="3"] {
  opacity: 1;
  z-index: 10;
}

.page-container[page-no="4"] .mc[page-no="4"] {
  opacity: 1;
  z-index: 10;
}

.page-container[page-no="5"] .mc[page-no="5"] {
  opacity: 1;
  z-index: 10;
}

.page-container[page-no="6"] .mc[page-no="6"] {
  opacity: 1;
  z-index: 10;
}

.page-container[page-no="7"] .mc[page-no="7"] {
  opacity: 1;
  z-index: 10;
}

.page-container[page-no="8"] .mc[page-no="8"] {
  opacity: 1;
  z-index: 10;
}

.page-container[page-no="9"] .mc[page-no="9"] {
  opacity: 1;
  z-index: 10;
}

.page-container[page-no="10"] .mc[page-no="10"] {
  opacity: 1;
  z-index: 10;
}

.page-container[page-no="11"] .mc[page-no="11"] {
  opacity: 1;
  z-index: 10;
}

.page-container[page-no="12"] .mc[page-no="12"] {
  opacity: 1;
  z-index: 10;
}

.page-container[page-no="13"] .mc[page-no="13"] {
  opacity: 1;
  z-index: 10;
}

.page-container[page-no="14"] .mc[page-no="14"] {
  opacity: 1;
  z-index: 10;
}

.page-container[page-no="15"] .mc[page-no="15"] {
  opacity: 1;
  z-index: 10;
}

.page-container[page-no="16"] .mc[page-no="16"] {
  opacity: 1;
  z-index: 10;
}

.page-container[page-no="17"] .mc[page-no="17"] {
  opacity: 1;
  z-index: 10;
}

.page-container[page-no="18"] .mc[page-no="18"] {
  opacity: 1;
  z-index: 10;
}

.page-container[page-no="19"] .mc[page-no="19"] {
  opacity: 1;
  z-index: 10;
}

.page-container[page-no="20"] .mc[page-no="20"] {
  opacity: 1;
  z-index: 10;
}

.page-container[page-no="21"] .mc[page-no="21"] {
  opacity: 1;
  z-index: 10;
}

.page-container[page-no="22"] .mc[page-no="22"] {
  opacity: 1;
  z-index: 10;
}

.page-container[page-no="23"] .mc[page-no="23"] {
  opacity: 1;
  z-index: 10;
}

.page-container[page-no="24"] .mc[page-no="24"] {
  opacity: 1;
  z-index: 10;
}

.page-container[page-no="25"] .mc[page-no="25"] {
  opacity: 1;
  z-index: 10;
}

.page-container[page-no="26"] .mc[page-no="26"] {
  opacity: 1;
  z-index: 10;
}

.page-container[page-no="27"] .mc[page-no="27"] {
  opacity: 1;
  z-index: 10;
}

.page-container[page-no="28"] .mc[page-no="28"] {
  opacity: 1;
  z-index: 10;
}

.page-container[page-no="29"] .mc[page-no="29"] {
  opacity: 1;
  z-index: 10;
}
