@charset "UTF-8";

/* reset */
/* 2022. 02.까지 쌓인 초기화 css */
html[mobile=on] {font-size: 1vw;}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6,
p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup,
tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, footer, header,
hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video
{margin:0;  padding:0;  box-sizing:border-box;  border:0;  overscroll-behavior-y: none;/*iOS 스크롤 바운스 해제*/}
html {width:100%;  font-size:16px;  font-weight:300;  letter-spacing:-0.5px;  font-family:'Noto Sans KR', '맑은 고딕', 'Malgun Gothic', '돋움', 'dotum', 'Helvetica', 'Apple SD Gothic Neo', sans-serif;  overflow-x:hidden;}
body {position:relative;  background:none;}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {display: block;  margin:0;  padding:0;  box-sizing:border-box;}/* html5shiv.js를 위한 초기화 */
h1, h2, h3, h4, h5, h6 {margin:0;  padding:0;  font-weight:500;}
p {margin:0;  padding:0;  word-break:keep-all;}
i {font-style:normal;}
a {color:#333;  text-decoration:none;}
ul, ol, dl {margin:0;  padding:0;  list-style:none;  box-sizing:border-box;}
input, select, button, textarea {-webkit-appearance:none;  -moz-appearance:none;  appearance:none;  outline:none;  border:0;  margin:0;  padding:0;  background:transparent;  box-sizing:border-box;  font-family:'Noto Sans KR', sans-serif;  -webkit-box-shadow:none;  box-shadow:none;  border-radius:0;}
button {cursor:pointer;  box-sizing:border-box;  padding:0;}
textarea {resize:none;}
table {border-collapse:collapse;  box-sizing:border-box;  border:none;  border-spacing:0;  table-layout:fixed;}
img {border:0;  -webkit-perspective:1;  perspective:1;}
fieldset {border:0;}
legend {display:none;}
caption {display:none;}

*:before, *:after {box-sizing:border-box;}
*:focus, *:focus-within, *:focus-visible {outline:none;}

select::-ms-expand {
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  /* IE 5-7 */
  filter: alpha(opacity=0);
  /* Good browsers :) */
  opacity:0;
}
input::-webkit-input-placeholder {opacity:1;  color:#959595;}
input::-moz-input-placeholder {opacity:1;  color:#959595;}
input:-moz-input-placeholder {opacity:1;  color:#959595;}
input:-ms-input-placeholder {opacity:1;  color:#959595;}
input::placeholder {opacity:1;  color:#959595;}
input::-ms-input-placeholder {opacity:1;  color:#959595;}
input:focus::-webkit-input-placeholder {color:transparent;}
input:focus::-moz-input-placeholder {color:transparent;}
input:focus:-moz-input-placeholder {color:transparent;}
input:focus:-ms-input-placeholder {color:transparent;}
input:focus::placeholder {color:transparent;}
input:focus::-ms-input-placeholder {color:transparent;}
textarea::-webkit-input-placeholder {opacity:1;  color:#959595;}
textarea::-moz-input-placeholder {opacity:1;  color:#959595;}
textarea:-moz-input-placeholder {opacity:1;  color:#959595;}
textarea:-ms-input-placeholder {opacity:1;  color:#959595;}
textarea::placeholder {opacity:1;  color:#959595;}
textarea::-ms-input-placeholder {opacity:1;  color:#959595;}
textarea:focus::-webkit-input-placeholder {color:transparent;}
textarea:focus::-moz-input-placeholder {color:transparent;}
textarea:focus:-moz-input-placeholder {color:transparent;}
textarea:focus:-ms-input-placeholder {color:transparent;}
textarea:focus::placeholder {color:transparent;}
textarea:focus::-ms-input-placeholder {color:transparent;}
input[type=date] {-webkit-appearance:none;  -moz-appearance:none;  appearance:none;}
input[type=date]::-webkit-inner-spin-button {display:none;}
input[type=date]::-webkit-calendar-picker-indicator {opacity:0;}
input[type=date]::-webkit-clear-button {display: none;}
input[type=date]::-ms-clear {display: none;}
input[type=number] {-webkit-appearance:none;  -moz-appearance:none;  appearance:none;}
input[type=number]::-webkit-inner-spin-button {display:none;}
input[type=number]::-webkit-calendar-picker-indicator {opacity:0;}
input[type=number]::-webkit-clear-button {display: none;}
input[type=number]::-ms-clear {display: none;}
input[type=range] {-webkit-appearance:none;  -moz-appearance:none;  appearance:none;}
input[type=range]::-webkit-slider-thumb { -webkit-appearance: none;  -moz-appearance:none;  appearance:none; }
input[type=range]::-ms-track { cursor:pointer; background: transparent; border-color:transparent; color: transparent; }
/*input[type=range]::-webkit-slider-runnable-track {} /*슬라이더 영역 스타일링*/
/*input[type=range]::-webkit-slider-thumb { 
    -webkit-appearance: none;
    background: #fff;
    cursor:pointer;
    border-radius:50%;
 }*/
/*input[type=range]::-moz-range-thumb { 
    background: #fff;
    cursor:pointer;
    border-radius:50%;
 }*/
/*input[type=range]::-ms-thumb { 
    background: #fff;
    cursor:pointer;
    border-radius:50%;
 }*/
progress { -webkit-appearance: none; border:1px solid #e1e1e1; }
progress::-webkit-progress-bar { background-color:#fff }
progress::-webkit-progress-value { background-color:grey; }

.readonly {display:none;}

/* 텍스트 블록지정 선택 방지 */
/*
    a {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
*/

/* 스크롤바 */
    /* .box {-webkit-overflow-scrolling:touch;} /* 모바일에서 터치로 스크롤 */
    /* .box::-webkit-scrollbar {width:0; height:0;} */ /* 스크롤 영역 ; width(height), background 수정 가능 */
    /* .box::-webkit-scrollbar-thumb {background:transparent;} */ /* 스크롤 막대 ; border-radius, box-shadow, background 수정 가능 */
    /* .box::-webkit-scrollbar-track {background:transparent;} */ /* 스크롤 막대 영역 ; border-radius, background, box-shadow 수정 가능 */
/* */